body{
  font-family: 'Gloria Hallelujah', cursive;
}

.main-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-body {
  height: 800px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.grid-box {
    /*width: calc(100vw /11); /*This is going to be edited in JS */
    aspect-ratio: 1/1;
    height: auto;
    box-sizing: border-box;
    border: 1px;
    border-color: rgb(236, 236, 236);
    border-style: solid;
}

.grid-box-hover {
    background-color: rgb(23, 23, 99);
}